/* Louvado seja o Senhor */

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    align-items: center;
    height: 5rem;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container:last-child{
    margin-right: 1.5rem;
}

.menuNLogo{
    gap: 1.5rem;
}

.header__menuSandwich{
    width: 3rem;
    height: 3rem;
    background-image: url('../assets/headerElements/Menu.svg');
    display: inline-block;
    margin-left: 1.5rem;
}

.menu__list{
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    width: 60vw;
    list-style-type: none;
    background-color: var(--secondary-color);
}

.menu__list, .menu__list__item{
    padding: 1em;
}

.menu__checkbox{
    display: none;
}

.menu__list__title{
    font-weight: 700;
    color: var(--highlight-color);
}

.menu__list__option a{
    background: var(--tertiary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.menu__checkbox:checked ~ .header__menuSandwich{
    background-color: var(--highlight-color);
}

.menu__checkbox:checked ~ .menu__list{
    display: block;
}
