/* Louvado seja o Senhor */

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    align-items: center;
    height: 5rem;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container:last-child{
    margin-right: 1.5rem;
}

.menuNLogo{
    gap: 1.5rem;
}

.header__menuSandwich{
    width: 3rem;
    height: 3rem;
    background-image: url('../assets/headerElements/Menu.svg');
    display: inline-block;
    margin-left: 1.5rem;
}

.menu__checkbox__tablet{
    display: none;
}

.header__refs__menuRef{
    display: none;
}

.menu__list{
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    width: 60vw;
    list-style-type: none;
    background-color: var(--secondary-color);
}

.menu__list, .menu__list__item{
    padding: 1em;
}

.menu__checkbox{
    display: none;
}

.menu__list__title{
    font-weight: 700;
    color: var(--highlight-color);
}

.menu__list__option a{
    background: var(--tertiary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.header__title{
    display: none;
}

.menu__checkbox:checked ~ .menu__list{
    display: block;
}

@media screen and (min-width: 1024px) {
    .header__menuSandwich{
        display: none;
    }    

    .header__refs__menuRef{
        display: block;
    }

    .header__logo{
        margin-left: 3.5rem;
    }

    .header__title{
        display: block;
        font-family: var(--header-title-font-family);
        font-size: 1.875rem;
        font-weight: var(--main-font-weight);
    }

    .header__title__highlight{
        font-weight: 700;
    }

    .header__refs{
        display: flex;
        gap: 2.5rem;
    }

    .header__refs__menuRef, .header__refs__menuRef__link{
        font-style: none;
        text-decoration: none;
        color: var(--header-font-color);
        font-size: var(--main-font-size);
        text-transform: uppercase;
    }

    .menu__list__tablet{
        width: auto;
    }

    .menu__checkbox__tablet:checked ~ .menu__list{
        display: block;
    }

    .menu__checkbox__tablet:checked ~ .header__refs__categories{
        background: var(--tertiary-color);
        color: var(--secondary-color);
    }

    .header__icons{
        gap: 3.75rem;
    }

    .fav__icon{
        display: none;
    }
}